/*
Colors to use:
dark blue: #06365f
light blue: #1c5380
*/

body {
  font: 200 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}
h3 {
	color: #06365f;
}
ul {
	list-style-type: none;
}
li {
	float: left;
	color: #1c5380;
	margin: 0px 10px 20px 10px;
	font-size: 14px;
}
#container {
	margin: 0 auto;
	position: relative;
	padding: 75px 100px 30px 100px;
}
#left-column {
	float: left;
	width: 30%;
	height: 100%;
}
#right-column {
	float: right;
	height: 100%;
	width: 70%;
}
#right-column-container {
	float: left;
}
#top-half {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 260px;
	width: 100%;
	background: linear-gradient(#1c5380, #06365f);	
	z-index: -1;
}
#phones {

}
#logo {
	float: left;
	margin: 10px 30px 10px 50px;
}
#login {
	background: linear-gradient(#1c5380, #06365f);
	height: 40px;
	width: 100px;
	float: right;
	margin: 30px 5px 0px 0px;
	padding: 0;
	border-radius: 3px;
	color: #ededed;
}
#login img {
	display: inline-block;
	margin: 10px 10px 10px 10px;
}
#login p {
	display: inline-block;
	float: right;
	margin: 0;
	padding: 10px 5px 0px 0px;
}
#frame {
	position: absolute;
	float: left;
	top: 10px;
	left: 0;
	z-index: -1;
}
#content {
	clear: both;
	width:500px;
	margin: 0px 0px 20px 50px;
	position: relative;
}
#content-text {
	padding: 20px 20px 0px 30px;
	width: 440px;
}
#apps img {
	margin: 20px 10px 0px 20px;
	display: inline-block;
}
#footer {
	padding: 30px;
	clear: both;
}
#copyright {
	color: gray;
}
