/*
Colors to use:
dark blue: #06365f
light blue: #1c5380
*/

body {
  font: 200 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
}

.header {
  background-color: blue;
  height: 270px;
}

.inline-block {
  display: inline-block;
}
.button{
  padding: 2px;
  background-color: white;
}
.brand-section {
  margin-left:38%;
  padding: 5em .7em;
}

.description-text {
  float: right;
}

.phone-img {
  display: inline-block;
  float: left;
  margin-left: 10%;
  margin-top: -11.25em;
}

.content-frame {

}

.body-section-content {
  margin:40px 5px 0px 31em;
  background-image: url("images/frame.png");
  background-repeat: no-repeat;
}


.footer-nav-a {
  float: clear
  ;
}
